# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# Distribution / packaging
build/
dist/
*.egg-info/

# Environment variables
.env

# Jupyter
.ipynb_checkpoints/

# Testing / coverage
.pytest_cache/
.coverage
htmlcov/

# Editors / OS
.vscode/
.idea/
.DS_Store
